<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>PolyPot</title>
</head>
<body>
    <header>
        <a href="/"><img src="{{ url_for('static', filename='logo-title-color.png') }}" alt="PolyPot Logo" id="logo"></a>
    </header>
    <main>
        <div id="welcome">
            <h1>Welcome to PolyPot!</h1>
        </div>

        <div id="stats">
            <h2>Some stats</h2>
            <p>
            <ul>
                <li>Number of pots: {{ stats['pots'] }}</li>
                <li>Number of measure points: {{ stats['measures'] }}</li>
                <li>Number of commands: {{ stats['commands'] }}</li>
            </ul>
            </p>
        </div>

         <div id="design">
            <h2>The design</h2>
            <p>
            Soon.
            </p>
        </div>

        <div id="mobile">
            <h2>Mobile App</h2>
            <p>
            A Mobile App will soon be available.
            </p>
        </div>
    </main>
    <footer>
        <p>
        Source code can be found on <a href="//github.com/nuft/PolyPot">Github</a>. See <a href="//github.com/nuft/PolyPot/blob/master/protocol/Protocol%20specification.md">Protocol specification</a> to know how to use this web site.
        </p>
    </footer>
</body>
</html>
